@model Task20_MVC.Models.User

@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    @using (Html.BeginForm("Validate", "Home", FormMethod.Post))
    {
        @Html.ValidationSummary(true);

        @Html.LabelFor(m => m.UserName)
        @Html.TextBoxFor(m => m.UserName)
        @Html.ValidationMessageFor(m => m.UserName)

        <br />

        @Html.LabelFor(m => m.Address)
        @Html.TextBoxFor(m => m.Address)
        @Html.ValidationMessageFor(m => m.Address)

        <br />

        @Html.LabelFor(m => m.Date)
        @Html.EditorFor(m => m.Date, new { htmlAttributes = new { min = "1900-01-01", max = "2090-01-01" } })
        @Html.ValidationMessageFor(m => m.Date)

        <br />

        @Html.LabelFor(m => m.Nationality)
        @Html.TextBoxFor(m => m.Nationality)
        @Html.ValidationMessageFor(m => m.Nationality)

        <br />

        @Html.LabelFor(m => m.Country)
        @Html.DropDownListFor(m => m.Country, Model.Countrylst, "---Select---")
        @Html.ValidationMessageFor(m => m.Country)
        <br />

        @Html.LabelFor(m => m.Skillsets)
        @Html.EditorFor(m => m.Skillsets)
        @Html.ValidationMessageFor(m => m.Skillsets)

        <br /><br />

        <input type="submit" name="btnSubmit" value="Submit" />

        <br /><br />

        @ViewBag.Message

    }
</div>